body {
  text-align: center;
  background-color: #000000;
  background-image:url("Images\Background4.jpg");
}
h2,h3,p {
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
}
.fix{
  position: fixed;
}
a{
    margin-left: 152px;
    margin-right: 152px;
}
td{
  padding-top: 100px;
      padding-right: 30px;
      padding-left: 30px;
}
.homeText {
  padding-top: 200px;
  padding-bottom: 345px;
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 500;
}

.aboutText{
padding-top: 60px;
  padding-bottom: 60px;
  margin-left: 4rem;
  margin-right: 4rem;
  z-index: 1;
}

.highlight {
  color: #f40552;
}


.contactForm{
 position: absolute;
  margin-left: 32rem;
  margin-right: 24rem;
  z-index: 1;

}
.form-group{
  margin: 0;

}
